@import url(../fonts/opensans/stylesheet.css);
@import url(../fonts/banny/style.css);
@import url(../libs/btstrp/bootstrap-grid.min.css);
@import url(../libs/owl/css/owl.carousel.min.css);
@import url(../libs/owl/css/owl.theme.default.min.css);
@import url(../css/all.min.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  .header .header-nav {
    position: relative;
    display: flex;
    justify-content: center; }
  .header .nav-1 {
    position: absolute;
    top: 0;
    left: 0; }
  .header .nav-2 {
    position: absolute;
    top: 0;
    right: 0; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A1A1A150; }
    .header .nav__img {
      margin: 25px auto 0; }
    .header .nav__box-link {
      width: 133px;
      line-height: 100px;
      text-align: center; }
    .header .nav__link {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      color: #FFFFFF;
      position: relative;
      text-transform: uppercase; }

.home {
  background: url("../img/home/header-bg.png") center/cover;
  padding: 326px 0 83px;
  text-transform: uppercase;
  color: #FFFFFF; }
  .home:before {
    content: '';
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 157%;
    top: 101px;
    left: 21%; }
  .home:after {
    content: '';
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 157%;
    top: 101px;
    right: 21%; }
  .home__content {
    display: flex;
    justify-content: space-between; }
  .home__block-rotate {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    height: 266px; }
  .home__block {
    text-align: center; }
  .home__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px; }
  .home__subtitle {
    font-size: 96px;
    font-family: 'Banny Round', sans-serif;
    font-weight: 500;
    line-height: 139px; }
    .home__subtitle:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin: 0 auto 30px; }
  .home__button-block {
    margin-bottom: 82px; }
  .home__button {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none;
    color: #FFFFFF;
    text-transform: uppercase; }
    .home__button:hover {
      background: #E8C300;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .home__button:first-child {
      margin-right: 40px; }
  .home__link {
    margin-bottom: 83px;
    position: relative; }
    .home__link:before {
      content: '';
      position: absolute;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      height: 87px;
      top: 16px;
      left: 50%; }
    .home__link:after {
      content: '';
      position: absolute;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      height: 454px;
      bottom: 66px;
      left: 50%; }
  .home__block-items {
    width: 60px;
    height: 220px; }
    .home__block-items a {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      display: block;
      position: relative; }
      .home__block-items a .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.about {
  padding: 100px 0; }
  .about__content {
    display: flex;
    justify-content: space-around; }
    .about__content .text-block {
      max-width: 600px;
      text-align: center;
      color: #000000;
      padding: 117px 0;
      margin: 0 auto; }
    .about__content .img-block {
      padding: 0;
      position: relative;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      max-width: 600px; }
      .about__content .img-block .border {
        position: absolute;
        top: 113px;
        left: 350px;
        width: 250px;
        height: 250px; }
  .about__title {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Banny Round', sans-serif; }
    .about__title:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin: 15px auto 20px; }
  .about__subtitle {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700; }
  .about .text {
    font-weight: 400;
    font-size: 14px; }

.team {
  background: url("../img/team/team-bg.png") center/cover;
  width: 100%; }
  .team .ourTeam {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .team__content {
    display: flex;
    justify-content: space-around; }
    .team__content .text-block {
      max-width: 600px;
      text-align: center;
      color: #FFFFFF;
      padding: 117px 0 217px; }
    .team__content .img-block {
      padding: 0;
      position: relative;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      margin: 0 auto;
      max-width: 600px; }
      .team__content .img-block .border {
        position: absolute;
        top: 113px;
        left: 0;
        width: 250px;
        height: 250px; }
  .team__img {
    padding-left: 60px; }
  .team__title {
    font-family: 'Banny Round', sans-serif;
    font-size: 36px;
    text-transform: uppercase; }
    .team__title:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin: 15px auto 20px; }
  .team__subtitle {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700; }
  .team .text {
    font-weight: 400;
    font-size: 14px; }

.book {
  padding-top: 100px; }
  .book__content {
    display: flex;
    justify-content: space-around; }
    .book__content .form-block {
      max-width: 565px;
      padding: 62px 0;
      margin: 0 auto; }
    .book__content .img-block {
      padding: 0;
      position: relative;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      max-width: 600px; }
      .book__content .img-block .border {
        position: absolute;
        top: 113px;
        left: 350px;
        width: 250px;
        height: 250px; }
  .book__title {
    font-family: 'Banny Round', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000; }
    .book__title:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin: 15px auto 20px; }
  .book input, .book select {
    outline: none; }
  .book__input {
    width: 277px;
    height: 60px;
    background: #E5E5E5;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    color: rgba(51, 51, 51, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative; }
    .book__input::-webkit-input-placeholder {
      color: rgba(51, 51, 51, 0.5); }
    .book__input option[default] {
      display: none; }
  .book .select-label {
    position: relative; }
    .book .select-label .form-img {
      position: absolute;
      top: 0;
      right: 0; }
  .book__link {
    display: block;
    width: 563px;
    height: 60px;
    background: #E8C300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 0;
    text-transform: uppercase; }
  .book__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    color: rgba(51, 51, 51, 0.5); }

.slider {
  background: url("../img/slider/slider-bg.png") center/cover no-repeat; }
  .slider .owl-carousel {
    position: relative; }
    .slider .owl-carousel .owl-dots {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translate(-50%, 0px); }
  .slider .box {
    display: flex;
    justify-content: space-around; }
  .slider .specialties {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .slider .box-content {
    max-width: 600px;
    text-align: center;
    color: #FFFFFF;
    padding: 117px 0 217px; }
  .slider .box-img {
    padding: 0;
    position: relative;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    max-width: 600px; }
    .slider .box-img .border {
      position: absolute;
      top: 113px;
      left: 0;
      width: 250px;
      height: 250px; }
  .slider__img {
    padding-left: 125px; }

.menu {
  padding: 100px 0; }
  .menu__box-title {
    max-width: 565px;
    margin: 0 auto; }
  .menu__title {
    font-family: 'Banny Round', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000; }
    .menu__title:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin: 20px auto 30px; }
  .menu__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000; }
  .menu__tabs-btns {
    list-style-type: none;
    display: flex;
    margin: 50px auto;
    width: 840px; }
  .menu__tab {
    padding: 16px 43px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    transition: 0.5s all;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    font-style: normal; }
    .menu__tab:last-child {
      border-right: none; }
  .menu__content {
    display: none; }
    .menu__content.active {
      display: block; }
  .menu__box {
    width: 363px;
    height: 66px;
    text-align: center; }
    .menu__box .title {
      font-family: 'Banny Round', sans-serif;
      font-size: 18px;
      line-height: 18px;
      color: #333333; }
    .menu__box .subtitle {
      font-size: 12px;
      color: #33333350;
      line-height: 18px; }

.events {
  background: url("../img/events/events-bg.png") center/cover; }
  .events__title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .events__content {
    display: flex;
    justify-content: space-around; }
  .events .box {
    max-width: 600px; }
    .events .box:first-child {
      padding-left: 125px; }
      .events .box:first-child .border {
        position: absolute;
        top: 113px;
        left: 0;
        width: 250px;
        height: 250px; }
    .events .box:last-child {
      padding: 0; }
      .events .box:last-child .border {
        position: absolute;
        top: 113px;
        left: 350px;
        width: 250px;
        height: 250px; }
  .events .box-1 {
    position: relative; }
    .events .box-1:after {
      content: 'weddings';
      font-family: "Banny Round", sans-serif;
      position: absolute;
      top: 0;
      right: 0;
      background: #000;
      width: 80px;
      height: 475px;
      border-radius: 0 5px 5px 0;
      font-size: 24px;
      line-height: 80px;
      text-indent: 20px;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      color: #FFFFFF; }
  .events .box-2 {
    position: relative; }
    .events .box-2:after {
      content: 'corporate pzrties';
      font-family: "Banny Round", sans-serif;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      width: 80px;
      height: 475px;
      border-radius: 0 5px 5px 0;
      font-size: 24px;
      line-height: 80px;
      text-indent: 20px;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      color: #FFFFFF; }
  .events__img {
    max-width: 475px;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5)); }
  .events__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

.image {
  margin-top: -1px; }
  .image__picture {
    width: 25%; }
  .image .row-img {
    width: 100%; }

.contact {
  padding: 100px 0; }
  .contact form {
    margin: 0 auto; }
  .contact__title {
    font-family: 'Banny Round', sans-serif;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border-radius: 5px; }
    .contact__title:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin: 20px auto 30px; }
  .contact__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    max-width: 565px;
    margin: 0 auto 50px;
    text-align: center; }
  .contact input {
    width: 420px;
    height: 60px;
    background: #E5E5E5;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none; }
    .contact input[placeholder] {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: rgba(51, 51, 51, 0.5); }
  .contact textarea {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 120px;
    background: #E5E5E5;
    border: none;
    outline: none;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 14px; }
  .contact .row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0; }
    .contact .row .col {
      padding: 0; }
  .contact a {
    margin-right: 23px;
    font-weight: 900;
    font-size: 12px;
    line-height: 60px;
    color: rgba(51, 51, 51, 0.5); }
  .contact .icon {
    color: #E8C300;
    margin-right: 10px; }
  .contact .button {
    color: #FFFFFF;
    width: 640px;
    height: 60px;
    background: #E8C300;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    outline: none;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    border: none; }

.footer {
  background: rgba(0, 0, 0, 0.9); }
  .footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100px;
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=style.css.map */
