.events {
  background: url("../img/events/events-bg.png") center/cover;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }

  .box {
    max-width: 600px;

    &:first-child {
      padding-left: 125px;

      .border {
        position: absolute;
        top: 113px;
        left: 0;
        width: 250px;
        height: 250px;
      }
    }

    &:last-child {
      padding: 0;

      .border {
        position: absolute;
        top: 113px;
        left: 350px;
        width: 250px;
        height: 250px;
      }
    }
  }

  .box-1 {
    position: relative;
    &:after {
      content: 'weddings';
      font-family: "Banny Round", sans-serif;
      position: absolute;
      top: 0;
      right: 0;
      background: #000;
      width: 80px;
      height: 475px;
      border-radius: 0 5px 5px 0;
      font-size: 24px;
      line-height: 80px;
      text-indent: 20px;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      color: #FFFFFF;
    }
  }
  .box-2 {
    position: relative;
    &:after {
      content: 'corporate pzrties';
      font-family: "Banny Round", sans-serif;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      width: 80px;
      height: 475px;
      border-radius: 0 5px 5px 0;
      font-size: 24px;
      line-height: 80px;
      text-indent: 20px;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      color: #FFFFFF;
    }
  }

  &__img {
    max-width: 475px;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
}